[submodule "_vim/bundle/vim-abolish"]
	path = _vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-unimpaired"]
	path = _vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "_vim/bundle/vim-commentary"]
	path = _vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/html5.vim"]
	path = _vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/zencoding-vim"]
	path = _vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "_vim/bundle/jslint.vim"]
	path = _vim/bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/jQuery"]
	path = _vim/bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
[submodule "_vim/bundle/vim-jquery"]
	path = _vim/bundle/vim-jquery
	url = git://github.com/itspriddle/vim-jquery.git
[submodule "_vim/bundle/scss-syntax.vim"]
	path = _vim/bundle/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/php.vim"]
	path = _vim/bundle/php.vim
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "_vim/bundle/vim-addon-mw-utils"]
	path = _vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/bundle/tlib_vim"]
	path = _vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/Tabular"]
	path = _vim/bundle/Tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "_vim/bundle/UltiSnips"]
	path = _vim/bundle/UltiSnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/vim-yaml"]
	path = _vim/bundle/vim-yaml
	url = git://github.com/avakhov/vim-yaml.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/vim-HiLinkTrace"]
	path = _vim/bundle/vim-HiLinkTrace
	url = git://github.com/gerw/vim-HiLinkTrace.git
[submodule "_vim/bundle/closetag.vim"]
	path = _vim/bundle/closetag.vim
	url = https://github.com/vim-scripts/closetag.vim
[submodule "_vim/bundle/vim-colours-dusk"]
	path = _vim/bundle/vim-colours-dusk
	url = git@github.com:jaapie/vim-colours-dusk.git
[submodule "_vim/bundle/Zenburn"]
	path = _vim/bundle/Zenburn
	url = git://github.com/jnurmine/Zenburn.git
